$theme-colors: (
  "primary": #62b562,
  "danger": #ff4136,
  "light": #ffffff,
);
$jumbotron-bg: #FFFFFF;
$form-group-margin-bottom:25px;
$card-border-radius: 15px;
// sets jumbotron background
.big-banner{
  //background-image: url('../images/landingPageBackground.png');
  background-size: 100%;
  height: 100vh;
}

@font-face{
	font-family: myFont;
	src:url('../Simvoni.ttf');
}

$font-family-base:myFont;

.card-img-overlay{
  background-color: #28292d;
  position: relative;
  width: 50%;
  height: 50%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  opacity: 0.75;
}

.round{
  border-radius: 50%;
  margin-left: 7px;
}

@import "../bootstrap/scss/bootstrap";
