$theme-colors: (
  "primary": #62b562,
  "danger": #ff4136,
  "light": #ffffff,
);
$jumbotron-bg: #D2B48C;
$form-group-margin-bottom:25px;
$card-border-radius: 15px;
// sets jumbotron background
.big-banner{
  //background-image: url('../images/landingPageBackground.png');
  background-image: url('../images/testbg.jpg');
  background-size: 100%;
}

.jumbotron{
	height: 100vh;
}
.card{
	 //background-image: url('../images/testbg.jpg');
	// background-size: 50%;
}

@font-face{
	font-family: myFont;
	//src:url('../TecoSerif-Bold.otf');

	src:url('../Simvoni.ttf');
}

$font-family-base:myFont;

@import "../bootstrap/scss/bootstrap";
