.maincard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 2px; }

  .maincard > hr {
    margin-right: 0;
    margin-left: 0; }
  .maincard > .list-group {
    border-top: inherit;
    border-bottom: inherit; }
    .maincard > .list-group:first-child {
      border-top-width: 0;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px; }
    .maincard > .list-group:last-child {
      border-bottom-width: 0;
      border-bottom-right-radius: 1px;
      border-bottom-left-radius: 1px; }
  .maincard > .card-header + .list-group,
  .maincard > .list-group + .card-footer {
    border-top: 0; }

  .homecard1{
    margin-left: 7%;
    margin-top: 50px;
  }
  .homecard2{
    margin-right: 9%;
    margin-top: 50px;
  }

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .big-banner2{
    background-image: url('../images/foodBG.jfif');
    background-size: 100%;
  }
  .wrapper{
    width: 80%;
    margin: 0 auto;
  }
/*directory.html*/
.searchdiv1{
  float: left;

}
.submitdiv2{
  float:right;
.test
{
  background-color: red;
}
.card{
  width:900px ;
  margin: 0 auto;
 }
.secolumn{
width:450px;
float:right;
overflow:hidden;
}
.fircolumn{
width:450px;
float:left;
overflow:hidden;
}
.buttons{ /*holds the buttons on the content card*/

width:900px;
height:15%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
overflow:hidden;

}
.separater{

  width: 900px;
  height: 85%;
  margin: 0 auto;
  display: flex;
    align-items: center;
    justify-content: center;
  overflow:hidden;
}
.btn{

  margin-left: 10%;
  margin-right: 10%;
}
.more{ /* button for See more contact information*/
  height: 10px;
}
.searchdiv1{
  float: left;

}
.submitdiv2{
  float:right;

}
.picdiv{
  float:right;
}