{%extends "base.html"%}
{%block content%}
    <div class= "searchdiv1" >
    <input class="form-control mr-sm-2" type="search" name = "lawfirm" placeholder="Law Firm" aria-label="Law Firm">
  <label for = states> Select State</label>
  <select name="states" id="states">

  	<option value = "Alabama">Alabama</option>
  	<option value = "Alaska">Alaska</option>
  	<option value = "Arizona">Arizona</option>
  	<option value = "Arkansas">Arkansas</option>
  	<option value = "California">California</option>
  	<option value = "Colorado">Colorado</option>
  	<option value = "Connecticut">Connecticut</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
  	<option value = "Alabama">Alabama</option>
 </div>

sdfffd

{%for result in statesearch, fpsearch, zipsearch %}

 <!--card to display results-->
    
<p>hi</p>        
          
{%endfor%}   


{% endblock %}
