

{%extends "base2.html"%}
{%block content2%}

  {{ form.fpname.label }}
  {{ form.fpname(class= "form-control") }}

  {{ form.fpemail.label }}
  {{ form.fpemail(class= "form-control") }}

  {{ form.fpcity.label }}
  {{ form.fpcity(class= "form-control") }}

  {{ form.fpstate.label }}
  {{ form.fpstate(class= "form-control") }}

  {{ form.fpzipcode.label }}
  {{ form.fpzipcode(class= "form-control") }}

  {{ form.fpstreet.label }}
  {{ form.fpstreet(class= "form-control") }}

  {{ form.fpphone.label }}
  {{ form.fpphone(class= "form-control") }}

  {{ form.fpwebsite.label }}
  {{ form.fpwebsite(class= "form-control") }}

  {{ form.fptimings.label }}
  {{ form.fptimings(class= "form-control") }}

  {{ form.fpinfoBring.label }}
  {{ form.fpinfoBring(class= "form-control") }}

  {{ form.fpbio.label }}
  {{ form.fpbio(class= "form-control") }}


{% endblock %}
