{%extends "base.html"%}
{%block content%}
<div style= "margin-left: 30%; margin-right: 30%;">
  <div class="card" style="width: 35rem;">
    <div class="card-body">
    	<h3 class="card-title">Login</h3>
		<form method="post">

			{{ form.guemail.label }}
        	{{ form.guemail(class= "form-control") }}

        	{{ form.password.label }}
        	{{ form.password(class= "form-control") }}
        	<div class="checkbox">
				<label><input type="checkbox"> Remember me</label><br>
			</div>
			<div id="passwordHelpBlock" class="form-text">
		  Forgot your password? <a href="/editprofile">Click here to reset your password.</a>
			</div>

        	{{ form.submit(class= "btn btn-primary")}}

			
		<!--<div class="form-group">
				<label for="email">Email address</label><br>
				<input type="email" class="form-control w-25" id="email" name="email" placeholder="name@example.com" size="50%"><br>
			</div>

			<div class="form-group">
				<label for="passwrd">Password</label><br>
				<input type="password" class="form-control w-25" id="passwrd" name="password">
			</div>
			<div id="passwordHelpBlock" class="form-text">
		  Forgot your password? <a href="/editprofile">Click here to reset your password.</a>
			</div>
		<br>
			<div class="checkbox">
				<label><input type="checkbox"> Remember me</label><br>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		-->

		</form>
	</div>
  </div>
</div>
{% endblock %}
