
{%extends "base.html"%}
{%block content%}
  <img src="../static/images/landingPageBackground.png" alt="image", style="height: 100%; width: 100%;">
    <div class = "big-banner">

      <a href="{{url_for('core.directory')}}">
        <div class="card float-sm-left homecard1 shadow" style="width: 40%;">
          <div class="card-body">
            <img src="../static/images/foodpantry.jpg" style="height: 100%; width: 100%; border-radius: 15px; margin-bottom: 15px;">
            <h1 style="text-align:center;"><b>Get Access to Food Pantries Near You</b></h1>
            <h5 style="text-align:center;">‏‏‎Connect with food pantries in your area</h5>
          </div>
        </div>
      </a>

      {% if user== "none" %}
      <a href="{{url_for('Users.registerFP')}}">
        <div class="card float-sm-right homecard2 shadow" style="width: 40%;">
          <div class="card-body">
            <img src="../static/images/foodshelf.jpg" style="height: 100%; width: 100%; border-radius: 15px; margin-bottom: 15px;">
            <h1 style="text-align:center;"><b>Food Pantries</b></h1>
            <h5 style="text-align:center;">Register your food pantry to provide visibility in your community</h5>
          </div>
        </div>
      </a>
      {% else %}
      <a href="{{url_for('Users.FPeditprofile')}}">
        <div class="card float-sm-right homecard2 shadow" style="width: 40%;">
          <div class="card-body">
            <img src="../static/images/editing.jpg" style="height: 100%; width: 100%; border-radius: 15px; margin-bottom: 15px;">
            <h1 style="text-align:center;"><b>Edit Profile</b></h1>
            <h5 style="text-align:center;">Edit your food pantry's information</h5>
          </div>
        </div>
      </a>
      {% endif %}

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      <div class="card bg-dark text-white bgcard">
        <img src="../static/images/volunteering.jfif" class="card-img" alt="volunteering", style="height: 100%; width: 100%">
        <div class="card-img-overlay">
          <h1 class="card-title"><b>Helping the People!</b></h1>
          <h5 class="card-text">Food banks and food pantries have been essential to helping people in need, and in the wake of COVID-19 millions more are now challenged with hunger. COVID-19 has brought about many complications such as disruptions in supply chains, reduced staff due to health concerns and many more.
          <br><br><a href="https://www.feedingamerica.org/hunger-blog/food-bank-response-covid-numbers">Learn more.</a></h5>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 {% endblock %}
