{%extends "base.html"%}
{%block content%}
<div style= "margin-left: 30%; margin-right: 30%;">
  <div class="card" style="width: 35rem;">
    <div class="card-body">
      <form method="POST">
        {# This hidden_tag is a CSRF security feature. #}
        {{ form.hidden_tag() }}
        <h3 class="card-title">General User Registration</h3>

        {{ form.gufirst.label }}
        {{ form.gufirst(class= "form-control") }}

        {{ form.gulast.label }}
        {{ form.gulast(class= "form-control") }}

        {{ form.guemail.label }}
        {{ form.guemail(class= "form-control") }}

        {{ form.state.label }}
        {{ form.state(class= "form-control") }}

        {{ form.zipcode.label }}
        {{ form.zipcode(class= "form-control") }}


        {{ form.gupassword.label }}
        {{ form.gupassword(class= "form-control") }}

        {{ form.guconfirm.label }}
        {{ form.guconfirm(class= "form-control") }}


        {{ form.submit(class= "btn btn-primary") }}
    </div>
  </div>
</div>
{% endblock %}
